body{
  overflow: hidden;
}.App {
  overflow: scroll;
  height: 97vh;
  padding: 11px;
}

.App::-webkit-scrollbar {
  width: 15px;
}

.App::-webkit-scrollbar-track {
  background-color: rgb(254, 254, 254);
  width: 10px;
  border-radius: 5px;
  margin-block: 4.3em;
}

.App::-webkit-scrollbar-thumb {
  background-color: rgb(58 83 75);
  border-radius: 5px;
  width: 7px;
}

.App::-webkit-scrollbar-thumb:hover {
  background-color:#4cc29c ;
}


#logo {
  left: 0;
  position: relative;
  right: 0;
  top: -10px;
  width: 200px;
}

#map,
#map > image {
  margin: 0 auto;
}

#map > image {
  text-align: center;
}

.circle:hover {
  cursor: pointer;
  fill: green;
  width: 100px;
}

.custom-text-class {
  user-select: none;
  font-size: 12.2px;
  font-weight: 700;
pointer-events: none;
}

.mapImg {
  height: 1200px;
  width: 1200px;
}

.mapSvg {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 1200px;
  width: 1300px;
}

.responsive-dialog {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}

@media (max-width: 320px) {
  .responsive-dialog {
    font-size: 14px;
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .responsive-dialog {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .responsive-dialog {
    width: 100%;
  }
}

.mappoints{
  position: absolute;
  right: 28px;
  top: 10em;
  display: flex;
  flex-direction: column;
}

.custom-marker{
  border: black 2px solid;
}

.img23{
  opacity: 80%;
  width: 120%;

}
.img2{
  opacity: 70%;
}

.maptab{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 75px 50px 100px;
}
.box{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
